{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<section>
  <div class="block">
    <div class="block2">
      <h1>{% blocktrans with provider.name as provider %}Вход через {{ provider }}{% endblocktrans %}</h1>
      <hr>
      <div class="alter-method">{% blocktrans with provider.name as provider %}Вы собираетесь войти в систему, используя учетную запись {{ provider }}. Вы уверены?{% endblocktrans %}</div>

{% endif %}

      <form method="post" action="?next=/">
        {% csrf_token %}
        <div class="buttons-block">
          <a class="button-alter" href="/accounts/login/">Отмена</a>
          <input type="submit" value="{% trans 'Да, входим' %}">
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}