.main {
    display: flex;
    width: 100%;
}

.enter-main {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Скрываем всё за контуром */
    background: #000;
}

img {
    width: 100%;
}

.enter-main img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
    opacity: 0.5;
}

.enter-main:hover img {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.label {
    z-index: 50;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 5em;
}

.category-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    height: 150px;
    overflow: hidden;
}

.category-image {
overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.category-image img {
    transition: 1s;
}

.category-image:hover img {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.subscribers {
    width: 30%;
}

.sub-button,
.unsub-button {
    width: 20%;
}
