h1 {
    font-style: italic;
    font-family: fantasy;
    font-size: 3em;
}

h3 {
    font-family: fantasy;
    text-align: left;
}

td {
    border: 1px solid;
    padding: 10px;
}

table {
	width: 100%;
	font-family: serif;
}

.edit-button {
    width: 100%;
}

.table-head {
    background-color: lightgray;
    height: 50px;
}