{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Search
{% endblock title %}


{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/search-styles.css' %}">
<section>
    <form action="" method="get">
<!--        {{ filterset.form.as_div }}-->

        {% for i in filterset.form %}
        <div class="filter-block">
            <p class="label">{{ i.label }}</p>
            <p class="filter-field">{{ i }}</p>
        </div>
        {% endfor %}

        <input class="search-button" type="submit" value="Найти" />
    </form>
</section>


<h1>Вот что удалось найти</h1>
<hr>
{% if news %}
	<table>
		<tr class="table-head">
			<td>Заголовок</td>
			<td class="date-time-collumn">Дата публикации</td>
			<td>Содержание</td>
		</tr>
		{% for i in news %}
		<tr>
			<td>{{ i.name|censor }}</td>
			<td>{{ i.datetime_in|date:'d.m.Y' }}</td>
			<td>{{ i.content|truncatechars:20 }}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
<div class="not-found">
    <img src="/static/assets/not_found.png" title="Ничего не найдено" alt="Ничего не найдено">
    <h2>Ничего не найдено...</h2>
</div>

{% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}



{% endblock content %}